<h1>This is the view for Hello</h1>
<p>Time now is <%= @time %> </p>
<p>Find me in app/views/say/hello.html.erb</p>
say <%=link_to("Good Bye","/say/goodbye")%>
say <%=link_to("Good Bye",say_goodbye_path)%>
